@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
:root {
    --cor-primaria: #000000; 
    --cor-secundaria: #ffffff; 
    --cor-terciaria: #d6e3d8; 
    --cor-quaternaria: #ac1f1f; 
    --cor-quintenaria: #998052; 
  }

  body{
    background-image: url(../img/portifoliofundo.jpg);
    background-position: 0px;
    background-size: 100%;
    font-family: 'Prompt', sans-serif;
  }

  .content {
    background-color: #000000;
    color: rgb(255, 255, 255);
    max-width: 90%;
    margin: 50px auto;
    font-size: 150%;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
  }
